html,
body {
	height: 100%;

	
}

body {
	margin: 0;

	font-weight: 100;
}

#stockChartWrapper{
	margin-bottom:20px;
}

.stockChart{
  margin-left:50px;
}



.stockLabel{
  font-weight:500;
}

.stockLabelPrice{
	font-size: 13px;
	font-weight:500;
	text-anchor: middle;
}

.stockLabelPrice.labelSm{
	font-size:12px;
}



.stockPriceRangeL,.stockPriceRangeR{
	font-size: 9px;
	font-weight:400;
	
}

.stockPriceRangeL{
	text-anchor: end;
}

.stockPriceRangeR{
	text-anchor: start;
}

.fab {
	width: 60px;
	height: 60px;
	background-color: #8e9697;
	border-radius: 50%;
	box-shadow: 0 6px 10px 0 #666;
	transition: all 0.1s ease-in-out;
  
	font-size: 32px;
	font-weight: 500;
	color: white;
	text-align: center;
	line-height: 55px;
	cursor: pointer;
	position: fixed;
	right: 50px;
	top: 50px;
 }

  
 .fab:hover {
	box-shadow: 0 6px 14px 0 #666;
	transform: scale(1.05);
 }

 .fab span{
	font-size: 22px;
	font-weight: 300;
	padding-left:2.5px;
 }

 #sortRangePrice{
	 top: 130px;
 }

#sortDayRangePrice{
	top: 210px;

}
 #sortPercentChange{
	top:300px;
	line-height: 65px;
}

#sortPutPremium{
	top:390px;
	line-height: 65px;
}

#updateTS{
	width: 200px;
	height: 20px;
	position: fixed;
	right: 5px;
	top: 5px;
}

.inline-texts{
	padding-top:3px;
	text-anchor: middle;
	font-size:14px;
	vertical-align: middle;
	
}

.inline-text-cell{
	vertical-align: middle;
	display:inline-block;
	width: 50px;
	height:30px;
	padding-top:10.5px;
}

.headerText{
	font-size:14px;
}