	   body{
          font-family: 'Roboto Condensed', sans-serif;

      }
	  .clickable{
	  cursor: pointer;
	  }
	  .displayNone{display:none !important;}
	  .displayInline{display:inline;}	

 .floatLeft{
      float:left;}
      .floatRight{
      float:right;}	
      .clearBoth{
      clear:both;
      }
